@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin focus($shadow-width: 1px) {
	border-color: $color-red-9;
	outline: none;
	box-shadow: 0 0 0 $shadow-width $color-red-9;
}
