// ****** Size ******
$card-height-default: 20px;
$card-wrapper-width-default: 272px;

//Fonts
$card-font-size: 15px;

//use mixin

// ****** Colors **********
$card-body-color: #dfe3e6;
$card-title-color: #17394d;
$card-list-color: #ffffff;
$card-list-hover-color: #eeeeee;

$card-button-hover-color: rgba(9,45,66,.13);


$body-main-bg: #0079bf;

//gray
$color-gray-1: #f6f6f6;
$color-gray-2: #cccccc;
$color-gray-3: #dddddd;
$color-gray-4: #c2c2c2;
$color-gray-5: #4a4a4a;
$color-gray-6: #d0d0d0;
$color-gray-7: #666666;
$color-gray-8: #aab2bd;
$color-gray-9: #d9d9d9;
$color-gray-10: #e9e9e9;
$color-gray-11: #a9a9a9;
$color-gray-12: #fafafa;
$color-gray-13: #808080;
$color-gray-14: #b2bec2;
$color-gray-15: #ebebeb;
$color-gray-16: #f0f0f0;
$color-gray-17: #f1f1f3;
$color-gray-18: #cdcdcd;
$color-gray-19: #8e8e8e;
$color-gray-20: #e0e0e0;
$color-gray-21: #697679;
$color-gray-22: #d4d5d9;
$color-gray-23: #d0d0d0;
$color-gray-24: #a6a6a6;

//red
$color-red-main: #d61820;
$color-red-1: #ffebec;
$color-red-2: #c29193;
$color-red-3: #fff7f7;
$color-red-4: #ffc3c6;
$color-red-5: #fd8388;
$color-red-6: #ce171f;
$color-red-7: #e7d5d6;
$color-red-8: #f6e3e4;
$color-red-9: #f59fa3;

//black
$color-black: #000;

//white
$color-white: #fff;

//********** Headers **************
$table-bps-radius: 5px;
