.home {

  &__title {
    background-color: $card-body-color;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px 0 20px;
    width: $width-default;
    margin-bottom: 50px;
    margin-top: 20px;
    color: $body-main-bg;
  }
}

.boards {

  &__list {
    margin: 0 auto;
    max-width: $board-item-max-width;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    position: relative;
    margin: 10px;
    margin-right: 10px;
    background-color: $card-body-color;
    padding: 20px;
    border-radius: 5px;

    &__title {
      position: relative;
      font-size: $board-title-size;
      color: $body-main-bg;
      margin: 10px 0 25px;
      z-index: 10;
    }
  }

  &__button {

    &_open {
      display: block;
      background-color: $card-body-color;
      padding: 8px;
      text-align: center;
      border: 1px solid;
      border-radius: 30px;
      color: $card-title-color;
      width: $width-default;

      &:hover {
        background: $card-button-hover-color;
        border-color: $card-button-hover-color;
        text-decoration: underline;
      }
    }

    &_add {
      font-size: $board-button-add-size;
      margin: 38px 80px;
      background-color: $card-body-color;
      padding: 0 20px;
      border-radius: 5px;

      &:hover {
        background-color: $board-hover-color;
        cursor: pointer;
      }
    }

    &_remove {
      padding: 0 7px;
      font-size: $board-button-remove-size;
      position: absolute;
      top: -4px;
      right: -1px;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }

  }
}
