<div class="list__wrapper" >

  <h1 class="list__title">{{list.title}}</h1>

  <ul class="list__items">
    <li class="list__item__wrapper" ng-repeat="card in cards">
      <card class="list__item__card" card="card"></card>
      <span class="list__button__card_remove" ng-click="lc.deleteCard(card._id)">&minus;</span>
    </li>
  </ul>

  <span class="list__button_remove" ng-click="deleteList(list._id)">&times;</span>

  <button
    class="list__button__card_add"
    type="button"
    name="button"
    ng-click="lc.addCard()"
  >
    &plus; Add a card
  </button>

</div>
