<!--Home page-->
<header class="home">
  <h1 class="home__title">Trello | Home</h1>
</header>
<div class="boards__list" ng-cloak>

  <!-- <span ng-if=""></span> -->
  <div class="boards__item" ng-repeat="board in boards">
    <h1 class="boards__item__title">{{board.name}}</h1>
    <a class="boards__button_open" href="#/board/{{board._id}}">Open</a>
    <span class="boards__button_remove" ng-click="hc.deleteDashboard(board._id)">&times;</span>
  </div>

  <div class="boards__button_add" ng-click="hc.addBoard()">
    &plus;
  </div>

</div>
