<header class="board">
  <a class="board__button_back" href="#/">Back to Home</a>
  <h1 class="board__title">{{board.name}}</h1>
  <div class="board__search">
    <label class="board__search__label">
      Search for lists
      <input
        class="board__search__field_name"
        type="search"
        name="search__lists"
        placeholder="List title"
        ng-model="search.listTitle"
      />
    </label>
    –
    <input
      class="board__search__field_cards"
      type="text"
      name="search__cards"
      ng-change="numbersOnly(search.cardsCount)"
      placeholder="N"
      maxlength="2"
      ng-model="search.cardsCount"
    />
  </div>
</header>
<div class="board__content">
  <list
    ng-repeat="list in lists | filter:search.listTitle | cardsCountFilter:search.cardsCount"
    list="list"
    cards-count="search.cardsCount"
    delete-list="bc.deleteList"
  ></list>

  <div class="list__wrapper list_new" >

    <input class="list__title_new" type="text" name="list__title" ng-model="title"  placeholder="Enter title of new list"/>

    <button
      class="list__button_add"
      type="button"
      name="button"
      ng-click="bc.addList()"
    >
      &plus;
    </button>

  </div>

</div>
