<header class="board">
  <a class="board__button_back" href="#/">Back to Home</a>
  <h1 class="board__title">{{board.name}}</h1>
</header>
<div class="board__content">
  <list
    ng-repeat="list in lists"
    cards="list.items"
    title="list.title"
    list-id="list._id"
    add-card="bc.addCard"
    delete-list="bc.deleteList"
    key="{{$index}}"
  ></list>

  <div class="list__wrapper list_new" >

    <input class="list__title_new" type="text" name="list__title" ng-model="title"  placeholder="Enter title of new list"/>

    <button
      class="list__button_add"
      type="button"
      name="button"
      ng-click="bc.addList()"
    >
      &plus;
    </button>

  </div>

</div>
